<%- include('./head') %>

  <body>
    <h1>Studenten met 4 jaar ervaring</h1>

    <section>
      <% squad.members.forEach(member=> { %>
        <% if (member.ervaring==="4 jaar" ) { %>
          <article>
            <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
            <h2>
              <%= member.name %>
                <%= member.prefix %>
                  <%= member.surname %>
            </h2>
          </article>
          <% } %>
            <% }) %>
    </section>

  </body>

  </html>

  <%- include('./foot') %>